* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("./images/backgroundimg.jpg");
  height: 550px;
  background-size: cover;
  background-position: 50% 100%;
}

nav {
  background: #333 linear-gradient(180deg, #999, #333);
  border-radius: 3px;
  width: 70%;
  height: 7%;
  text-align: center;
}

nav ul li {
  width: 100%;
  color: white;
  padding: 8px;
  border-right: 1px solid #3f3d3d;
}

nav ul li a {
  color: white;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 11px;
}

nav ul input {
  width: 100px;
  height: 15px;
  border-radius: 10px;
  margin: 10px 5px;
}

#search {
  position: relative;
  top: 13px;
  left: 22px;
  font-size: small;
}

nav ul li:hover {
  background-color: rgb(59, 58, 58);
}


ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

aside ul img {
  width: 334px;
  margin: 2px;
}

.right-flag img {
  width: 15px;
  height: 15px;
  border-radius: 49%;
}

footer {
  color: #6e6e6e;
  padding: 20px 0;
  width: 73%;
  margin: 0 auto;
  font-size: 9px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 25px;
}

footer a {
  text-decoration: none;
  color: #0088cc
}

.rightpart {
  float: right;
  position: relative;
  bottom: 24px;
}

.rightpart a {
  padding: 0 4px;
  border-right: 1px solid #a4a7a7;
}

.rightpart a:hover {
  text-decoration: underline;
}

.privacy a {
  padding: 0 4px;
  border-right: 1px solid #a4a7a7 ;
}

.privacy a:hover {
  text-decoration: underline;
}
